# Introduction
Welcome! This exercise will contain two sections for you to work on. Each section is separate and will have different datasets. This data was generated in our Human Machine Systems Lab (IE 4522/4523) via two separate exercises, which will comprise the two sections.

There are a million ways to do things in Python! Do not feel like there is one right answer. Google how to do things. Compare alternatives. Figure out what you think is best. Stack Overflow is great. Same as GeeksforGeeks. If you have any questions, send me a message over Slack. Good luck! -- Jordan

# Dots
The first exercise our lab group did was to partake in this online experiment where there were two sides (left/ride) on the screen. Each side had a certain amount of dots, and the user had to click on the side with more dots. Each user did that 60 times for different cases, and the data was all recorded.

In [1]:
# Packages you might find useful
import pandas as pd
import numpy as np
import scipy as sp

# Visualization/Stat Packages
import seaborn as sns
import matplotlib.pyplot as plt 
import statsmodels.api as sm

In [2]:
# Import the data
import pandas as pd
dots_jord = pd.read_csv('dots/Jordan_Dots.csv')
dots_alex = pd.read_csv('dots/Alex_Dots.csv')

In [3]:
# First 5 rows
dots_jord.head()

,Experiment,SubjectID,Schedule,TestName,MPoint,SessionName,SessionID,LaunchTime,StartTime,ResultTime,...,block,task,trial,dots,delta,mode,dir,response,key,rt
0,Lab 4 Spring 2022 Blue Lab 1A,_5584,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5584_20220224083126_16969,2022-02-24 08:19:39,2022-02-24 08:26:57,2022-02-24 08:31:26,...,1,rdots,1,20,5,same,right,correct,right,901
1,Lab 4 Spring 2022 Blue Lab 1A,_5584,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5584_20220224083126_16969,2022-02-24 08:19:39,2022-02-24 08:26:57,2022-02-24 08:31:26,...,1,rdots,2,20,4,same,left,incorrect,right,985
2,Lab 4 Spring 2022 Blue Lab 1A,_5584,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5584_20220224083126_16969,2022-02-24 08:19:39,2022-02-24 08:26:57,2022-02-24 08:31:26,...,1,rdots,3,20,4,same,right,correct,right,792
3,Lab 4 Spring 2022 Blue Lab 1A,_5584,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5584_20220224083126_16969,2022-02-24 08:19:39,2022-02-24 08:26:57,2022-02-24 08:31:26,...,1,rdots,4,30,2,same,left,correct,left,676
4,Lab 4 Spring 2022 Blue Lab 1A,_5584,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5584_20220224083126_16969,2022-02-24 08:19:39,2022-02-24 08:26:57,2022-02-24 08:31:26,...,1,rdots,5,30,1,same,left,correct,left,702

In [4]:
# Last 5 rows
dots_alex.tail()

,Experiment,SubjectID,Schedule,TestName,MPoint,SessionName,SessionID,LaunchTime,StartTime,ResultTime,...,block,task,trial,dots,delta,mode,dir,response,key,rt
55,Lab 4 Spring 2022 Blue Lab 1A,_5583,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5583_20220224083337_16968,2/24/2022 8:21,2/24/2022 8:26,2/24/2022 8:33,...,1,rdots,56,20,3,same,left,correct,left,2919
56,Lab 4 Spring 2022 Blue Lab 1A,_5583,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5583_20220224083337_16968,2/24/2022 8:21,2/24/2022 8:26,2/24/2022 8:33,...,1,rdots,57,30,1,same,right,correct,right,5842
57,Lab 4 Spring 2022 Blue Lab 1A,_5583,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5583_20220224083337_16968,2/24/2022 8:21,2/24/2022 8:26,2/24/2022 8:33,...,1,rdots,58,20,3,same,right,correct,right,2322
58,Lab 4 Spring 2022 Blue Lab 1A,_5583,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5583_20220224083337_16968,2/24/2022 8:21,2/24/2022 8:26,2/24/2022 8:33,...,1,rdots,59,30,1,same,right,correct,right,8125
59,Lab 4 Spring 2022 Blue Lab 1A,_5583,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5583_20220224083337_16968,2/24/2022 8:21,2/24/2022 8:26,2/24/2022 8:33,...,1,rdots,60,10,1,same,right,correct,right,2872

In [5]:
frames = [dots_alex, dots_jord]
dots = pd.concat(frames)
dots = dots.reset_index(drop=True)

dots

,Experiment,SubjectID,Schedule,TestName,MPoint,SessionName,SessionID,LaunchTime,StartTime,ResultTime,...,block,task,trial,dots,delta,mode,dir,response,key,rt
0,Lab 4 Spring 2022 Blue Lab 1A,_5583,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5583_20220224083337_16968,2/24/2022 8:21,2/24/2022 8:26,2/24/2022 8:33,...,1,rdots,1,20,2,same,right,correct,right,2899
1,Lab 4 Spring 2022 Blue Lab 1A,_5583,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5583_20220224083337_16968,2/24/2022 8:21,2/24/2022 8:26,2/24/2022 8:33,...,1,rdots,2,20,3,same,left,correct,left,1707
2,Lab 4 Spring 2022 Blue Lab 1A,_5583,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5583_20220224083337_16968,2/24/2022 8:21,2/24/2022 8:26,2/24/2022 8:33,...,1,rdots,3,30,3,same,right,correct,right,1284
3,Lab 4 Spring 2022 Blue Lab 1A,_5583,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5583_20220224083337_16968,2/24/2022 8:21,2/24/2022 8:26,2/24/2022 8:33,...,1,rdots,4,10,4,same,left,correct,left,1296
4,Lab 4 Spring 2022 Blue Lab 1A,_5583,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5583_20220224083337_16968,2/24/2022 8:21,2/24/2022 8:26,2/24/2022 8:33,...,1,rdots,5,20,1,same,right,correct,right,6959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Lab 4 Spring 2022 Blue Lab 1A,_5584,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5584_20220224083126_16969,2022-02-24 08:19:39,2022-02-24 08:26:57,2022-02-24 08:31:26,...,1,rdots,56,10,1,same,left,correct,left,581
116,Lab 4 Spring 2022 Blue Lab 1A,_5584,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5584_20220224083126_16969,2022-02-24 08:19:39,2022-02-24 08:26:57,2022-02-24 08:31:26,...,1,rdots,57,10,2,same,left,correct,left,693
117,Lab 4 Spring 2022 Blue Lab 1A,_5584,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5584_20220224083126_16969,2022-02-24 08:19:39,2022-02-24 08:26:57,2022-02-24 08:31:26,...,1,rdots,58,30,4,same,right,incorrect,left,728
118,Lab 4 Spring 2022 Blue Lab 1A,_5584,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5584_20220224083126_16969,2022-02-24 08:19:39,2022-02-24 08:26:57,2022-02-24 08:31:26,...,1,rdots,59,10,1,same,right,correct,right,558
119,Lab 4 Spring 2022 Blue Lab 1A,_5584,Schedule 1,Lab 4 Spring 2022 Blue Lab 1A Random Dots,1,Random Dots,_5584_20220224083126_16969,2022-02-24 08:19:39,2022-02-24 08:26:57,2022-02-24 08:31:26,...,1,rdots,60,10,5,same,left,correct,left,640

## Problem 1
Get the unique values for the 'SubjectID'. Then replace those values with the following names. After the replacement, get the unique values again to doublecheck your work.

- '_5583' with 'Alex'
- '_5584' with 'Jordan'

In [6]:
# Get unique values

In [7]:
# Change Subject ID to Names

In [8]:
# Get unique values again to doublecheck

## Problem 2
Create the following data visualizations. Label your graphs accordingly with proper titles.

1. Boxplot of the response time (rt) vs the response column (correct/incorrect)
2. Scatterplot of all response times (rt) vs delta, grouped by SubjectID
3. Regression plot of Alex's response time (rt) vs delta (the number of extra dots). The regression plot should show the trendline.
    - If you're feeling risky, run a linear regression (I like statsmodels), print the results, and get the Pearson correlation value (use scipy).

You can do each visual separately. However, if you want to challenge yourself, then try and produce all 3 visuals in 1 cell, where the visuals go in 1 row. plt.subplots() is very helpful 

I would recommend either **Seaborn** and/or **Matplotlib** for data visualization libraries. Use **scipy** and/or **statsmodels** for stats/regression.

In [9]:
# Visualization/Stat Packages

In [10]:
# Regression results for Alex's data

In [11]:
# Pearson Correlation for Alex's Data

## Problem 3
Create 3 histograms of the response time distributions. 
1. Histogram of all of the dot data.
2. Histogram of Alex's data. 
3. Histogram of Jordan's data. 

Try and produce all 3 visuals in 1 cell as well, well the visuals go in 1 row.

In [12]:
# Histograms

# Rotation
The second exercise we did was similar, but with some key differences. A symbol (4, 2, F, R) would appear on the screen. It would be rotated n degrees, and the user had to determine whether the symbol was a normal image or a mirorred image. Each user did that 60 times for different cases, and the data was all recorded. Response time, symbol, angle, and response correctness were all recorded.

Since more sample code was provided for the first section, I will leave this section with no sample code.

## Problem 1
1. Import the data in the **mirror** folder (Alex_Rotation.csv and Jordan_Rotation.csv) as **rotate_alex** and **rotate_jord**. Combine the dataframes as a new dataframe called **rotate** (don't forget to reset the index -- see the dots section, if you don't you will run into certain problems depending on what you try and do with the data).
2. Change the SubjectIDs the same way you changed them for the Dots section ("_5583" to "Alex" and "_5584" to "Jordan")

In [13]:
# Import the data

In [14]:
# Substitutions

## Problem 2
1. Plot the response time (rt) vs the angle, grouped by the SubjectID (use sns.lmplot). Use .set() to change the axis labels to "response time" and "Degrees of Rotation". This function should generate 2 plots.
2. Comment your thoughts.
3. Get the Pearson correlation value.

In [15]:
# Response Time

Thoughts?

In [16]:
# Pearson Correlation

## Problem 3

This is a long one. These parts are all connected though, so pay close attention to that.

1. First, make some substitutions. Substitute the following for the symbol column.
    - replace "F" and "R" with "letter"
    - replace "4" and "2" with "number"
    
    
2. Generate the following visuals. See if you can produce both visuals in one cell.
    - Histogram of response time (all data)
    - Boxplot of the response time vs the symbol


3. Using a paired t-test, calculate and compare the average reaction times for letters vs. numbers using the variables **symbol** and **rt**, and show your results. What do the results of this test mean? Does the results of this test back up the data visualizations generated in part 2?

A paired t-test is a "statistical test that compares the means and standard deviations of two related samples". Below are the hypotheses.
- Null Hypothesis ($H_{0})$: There is no significant difference between the means of two related groups.
- Alternative Hypothesis ($H_{1})$: There is a significant difference between the means of two related groups

The variance is assumed to be unequal between groups. There are four assumptions that must be met.

1. The dependent variable is normally distributed
2. Independently sampled observations
3. Dependent variable measured in ratios or intervals 
4. Independent variables have two related or matched groups

In [17]:
# Unique Symbols

In [18]:
# Substitute


# Unique symbols (double check)

In [19]:
# Visuals

In [20]:
# Paired T-test

Thoughts?